# env 
.venv/
venv/
env/
.env
.env.local
uv.lock
CLAUDE.md
.claude/
.cursorrules
.cursor/

# artifacts
dist/
build/
_build/
docs/build/
*.egg-info/
*/__pycache__/
.pytest_cache/
*.pyo
*.pyd
*.pyc

# outputs
wandb/
outputs/
logs/

# development
.idea/
.vscode/
*.swp
.DS_Store

# WIPs
wip/
old/
scripts/
tests/
notebooks/